{% extends 'employees/base.html' %}

{% block title %}Manage Employees{% endblock %}

{% block content %}
<h1>Manage Employees</h1>
<ul>
    {% for employee in employees %}
        <li>
            <strong>{{ employee.name }}</strong> - {{ employee.designation }}<br>
            {{ employee.short_description }}<br>
            <a href="{% url 'update_employee' employee.id %}">Edit</a>
            <a href="{% url 'delete_employee' employee.id %}" onclick="return confirm('Are you sure you want to delete this employee?');">Delete</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
